#new-subscription-container.hidden
  .well.well-large.center
    = form_for(@subscription, :remote => true) do |f|
      = f.label :url
      = f.text_field :url
      = f.submit 'Subscribe', :disable_with => 'Subscribing...', :class => 'btn btn-success btn-mini'
      = f.submit 'Cancel', :disable_with => 'Subscribing...', :class => 'btn btn-danger btn-mini'

%ul#feed-items
  -@subscriptions.first.articles.each do |a|
    %li
      %h3= a.title
      .article-content
        =raw a.description
